body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
   
}

/*骼ｬ隶ｳ邯区､､逕ｸ貎ｰ*/
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;/*螳ｸ�蠖ｸ髣ら｣狗ｪ,髣育幹荵乗擠讓ｻ讒ｸ髣育幹蠖1､7,flex-start髞帛･邊ｯ迺√ｅ竄ｬ遑ｷ邏夐縛豌ｬ荵冗｢羞蠖堤ｶ1､7
    flex-end髞帶ｰｬ蠖ｸ遒羞蠖堤ｶ1､7
    center髞幢ｿｽ 轣槫速閻1､7
    space-between髞帶ｰｫ陲ｱ扈誹�訒ｮ讎ｻ諢ｶ邏晄､､蝨ｭ豢ｰ豸泌ｬｮ譽ｿ髏ｨ蜍ｯ譽ｿ髣�来蜈倬姓蜩･逑鷹恰�ｽ
    space-around髞帶ｰｭ逖｡豸軟∴罎纃髏ｩ裵ｻ陲ｱ貂墫�ｮ鷹翌謦ｮ谿ｧ髏ｩ蜩･逑鷹恰蛯帛｢肴ｵ繝ｯ邏晄､､蝨ｭ豢ｰ豸泌ｬｮ譽ｿ髏ｨ蜍ｯ譽ｿ髣�里肅舒讀､蝨ｭ豢ｰ豸灘ｺ､遶溷ｦ怜吏谿鷹翌謦ｮ谿ｧ貔ｶﾑらｫｴ骰雁ｶ�ぎ�1､7*/
    align-items: center;/*骰ｦ繖･貎｡豸軟�谿第ｵ｣蠍�昧髞帛ｮ僕ex-start髞帶ｰｫ豌ｦ骰吝､朱�髏ｨ蜍ｮ謐｣髏千族訒ｮ讎ｻ諢ｩ竄ｬ�ｽ
    flex-end髞帶ｰｫ豌ｦ骰吝､朱�髏ｨ蜍ｭ邊馴瑞迹ｰ訒ｮ讎ｻ諢ｩ竄ｬ�ｽ
    center髞帶ｰｫ豌ｦ骰吝､朱�髏ｨ蜍ｪ閻鷹瑞迹ｰ訒ｮ讎ｻ諢ｩ竄ｬ�ｽ
    baseline: 讀､蝨ｭ豢ｰ髏ｨ蜍ｭ蘒�ｶ凪ぎ逅帛ｱｾ譫�｢纛讌�ｮ鷹昆陌ｹ蝴守ｵ蠖堤ｶ磯恰�1､7
    stretch髞帛･邊ｯ迺√ｅ竄ｬ遑ｷ邏夐縛豌ｬ都ｧ髀区ｻ医｢纃髏ｩ裵ｽ貉ｭ迺∝鴬逍�･よｨｺ螳ｳ骼ｴ譬ｬ裵墓ｶ鍋ｯｴuto髞帛ｱｽ逧｢骰礼患蠑ｧ髀∫ｿ驥懃｢羯迹ｰ讚帝勢蜍ｯ迴ｮ謳ｴ�ｺ竄ｬ�ｽ*/
    flex-direction: row;/*螯ｯ﨟�ｽ�室謗慕ｹ暮巡訷懃将髏ｫ竄ｬ骼ｺ�1､7*/
    flex-wrap: wrap;
    background-color: #ec3b3b;/*豼介ぅ蠑ｧ髑ｳ螻ｾ讚咎勢蜍ｬ證｣豸軟∴軏�損�ｽ*/
    border-radius: 30px;
    width: 100%;/*轢ｵ遑��髀��貎｡髏ｨ蜍ｮ裵慕ｼ�ｿ1､7*/
    height: 70px;
    z-index: 1;
}

/* .slide-apart{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
} */

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;/*迺∝鴬逍�甑蜀ｲ逸ｻ譚育｡�ｪ1､7*/
}

.nav li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}




.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;/*轢ｹ豌ｫ邂滓ｵ蜻ｮ貉∵ｾｶﾑ�蕪轢帶･∫�1､7
    none	讎帶ｨｿ蠇ｻ驫�ｚ逡ｾ豸泌､顔鉢髀亥､顔址骰先ｬ冗透蟋｣蠍�恐貔ｶﾑ�蕪轢帶･∫�髏ｨ蜍ｬ辷｣骰大吏谿鷹盾蝗ｨ貉ｰ驫�ｿｽ
capitalize	髀ょ岑貉ｰ豸軟�谿大ｧ｣蠢朱∪骰玲孱逖晄ｵ繝･縺�告谺冗透蟋｣蠍�ｴ第ｾｶ豺ｬ竄ｬ�1､7
uppercase	轢ｹ豌ｫ邂滓ｵ蜻ｮ貉∵ｾｶﾑ�蕪轢帶･∫�驫�ｿ1､7
lowercase	轢ｹ豌ｫ邂滄純迥ｲ縺�告谺冗透蟋｣蠍冗ｴ晄ｵ蜻ｮ貉∫￥蠢灘蕪轢帶･∫�驫�ｿ1､7
inherit	迹吝境逡ｾ謳ｴ譌�∵豬蠎｣蝓鈴刻蜀ｪ遉檎ｼ��｣ text-transform 轣樒ざ竄ｬﾑ�ｮ鷹濠隨ｺ竄ｬ�ｽ*/
    letter-spacing: 1px;/*髀｢肅族蠖臥帶･�｣ｿ迺ｺ豼稲梏*/
    font-weight: bold;/*迺∝鴬逍�｢纛讀ｾ邯狗ｻｮ讌�ｲ*/
    font-size: 35px;
}

/*髏ｩ蟄伜ｸｴ遒羞隗�｢埼処螟梧ｮ鷹明轤ｬ蟶ｴ譚ｩ豸懣泊貔ｶ蜍ｭ謔1､7*/
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/*a髞帶ｭｨover逅帙┤縺夊､ｰ謦ｻ邏ｶ髀榊岻竄ｬ螟顔弊骰ｦ笊晞渚蝗ｩ﨡ｷ豸灘ｩ�､Ｂ髀榊岔﨡ｷ髏ｨ蜍ｬ迚ｱ蟇ｮ蠢灘ｽ蛾獄譬･竄ｬ�1､7*/
a:hover{
    color:#000;
}

.banner-area{
    position: relative;
    background-color: rgb(249, 242, 242);
     /* background: linear-gradient(200deg,#ffffff,#f7dada); */
    /* background-image: url('../images/F22CE978AF642063AA821065FF9612F3.png');
    background-size: 1px 1px; */
    /*郛∵ｬ貞�髀��豬倬雛蝗ｪ裵慕ｼ��聹ぎ蠢疲ｧ第清�1､7*/
    /* opacity: 0.5; */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    }




    .jiyu{
        position: absolute;
        left: 900px;
        top: 320px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-direction: row; */
        width: 33%;
        padding: 50px;
        font-style: italic;
       
    }
    /* .jiyu{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    } */
    .jiyu h1{
        font-size: 35px;
    }

/*髀咲�邏｡骰懷ｲ��髀��郢｢肆､､隸ｲ蝙主ｯｮ竄ｬ骰撰ｿ1､7*/
.about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.post-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.service-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1200px;
}
.contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 5000px;
    /* background-image: url('../images/QQ骰･蜑ｧ蠅1､720221124212116.jpg');
    background-size: 5px 5px; */
}

.text-part{
    width: 65%;
    height: 80%;
    /* background-color: #ada3d6; */
    /* opacity: 0.5; *//*骰門属雖ｭ髀ょ岌逑ｧ髢ｫ蠢疲ｧ第清�ｿ遶ｴ迺ｧ�ｽ*/
    background-color: rgba(255, 252, 252, 0.485);/*骰咒＞蟠滄漉譖槫ｽｧ髀��蜆鈴遵訷樞ぎ蠢疲ｧ第清�ｽ*/
    font-weight: bolder;
    
}

.text-part li{
    font-size: 120%;
}

.text-part h1{
    font-size: 150%;
    letter-spacing: 250%;
}

.text-part a:link{
color:rgb(194, 120, 120)
    
}

.text-part a:hover{
    color: rgb(194, 183, 183);
}

h1{
    font-size: 300%;
    font-family:'Courier New', Courier, monospace;
    line-height: 200%;
}

p{
    font-size: 24px;
    line-height: 200%;
}


.about-area{
     background-image: url('../images/20F2BF9A0FA175604ABDCA0CD4D8912D.png');
    background-size: 1600px 1200px;
     /* opacity: 0.5; */
     /* background: #fefefe; */
}

.service-area{
    background: #fefefe;
}

.post-area{
    background-image: url('../images/IMG_2394.JPG');
    background-size: 1200px 900px;
     /* opacity: 0.5; */
    
    color:#fff;/*轢ｵ迹ｰ逑ｧ譽ｰ貊�｣企勢蜍ｬ謨ｼ骰呻ｿ1､7*/
}
.contact-area{
    background: #ffffff;
    background-image: url('../images/7.jpg');
    /* background-size: 600px 1200px; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    /* background-image: url('../images/IMG_2394.JPG');
    background-size: 1200px 900px; */
     /* opacity: 0.5; */
     background-color: rgb(252, 236, 179);
     margin-bottom: 0px;
    
    color:rgb(255, 255, 255);/*轢ｵ迹ｰ逑ｧ譽ｰ貊�｣企勢蜍ｬ謨ｼ骰呻ｿ1､7*/
}



/* .contact-area image{
    height: 20px;
    width: 20px;
    left: 30px;
} */

html{
    scroll-behavior: smooth;
}









/*扈齢α遶ｴ讀､逕ｵ谿大ｩ頑�蟋1､7*/
.biao{
    position: absolute;
    right: 20px;
    top: 70px;
    width:500px;
    height:300px;
}



ul.slides {
    position: relative;
    width: 900px;
    height: 500px;
    list-style: none;/*骰呎ｨ遘ｷ骰呈･�｢繝轣樒ざ竄ｬ�1､7*/
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow:hidden;
    /* opacity: 100; */
   
}

li.slide{
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position:absolute;
  top: 0;
  left: 0;
  /*轢ｵ迹ｰ逑1､7*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color:#eee;
  /*骰斐┤謨ｾ譚ｩ蝗ｨ豬ｮ髏ｨ蜍ｮ裵慕｢羯�ｽ*/
  transition: .5s transform ease-in-out;
  

}

.weizhi{
    display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}

.weizhi{
  position: absolute;
  top: 30px;
  /* height:;
  width:; */
  left: 10px;
  
}

.logo{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.slide:nth-of-type(1){
    background-color: aqua;
    background-image: url('../images/85a828f3b183ebcebd83f10379d10030458f31c7.jpg');
    background-size: 900px 500px;
    background-position: center;

}

.slide:nth-of-type(2){
    background-color: bisque;
    background-image: url('../images/aaf21571d5f7d53620553299b4f92f7426acc7f769659-LFjHD4_fw658.jpg');
    left: 100%;
    background-size: 900px 500px;
    background-position: center;

    
}

.slide:nth-of-type(3){
    background-color: coral;
    background-image: url('../images/c64ccde7a897b0d8098fa6ea553145d8ce123220.jpg');
    left:200%;
    background-size: 900px 500px;
    background-position: center;
}

.slide:nth-of-type(4){
    background-color: rgb(21, 0, 255);
    background-image: url('../images/t014767414f70dac2b7.jpg');
    left:300%;
    background-size: 900px 500px;
    background-position: center;
}

.slide:nth-of-type(5){
    background-color: rgb(29, 45, 45);
    background-image: url('../images/15730129376961561.jpg');
    left:400%;
    background-size: 900px 500px;
    background-position: center;
}

.slide:nth-of-type(6){
    background-color: rgb(255, 0, 157);
    background-image: url('../images/aa90f14e350f443e9f44ab0d42eae2d6.jpeg');
    left:500%;
    background-size: 900px 500px;
    background-position: center;
}



/*迺∝鴬逍�adio骼ｸ螟先元髞帛ｱｼ螽�袖蠅罅鄧ｦ髏ｪ螫ｭ鄧1､7(髀稲п貎ｵ骰ｦ繖･荵乗ｶ灘ｩ�摎髞幢ｿ1､7*/
input[type="radio"]
{
    position: relative;
    z-index: 100;
    /*轣丞舶adio骼ｸ螟先元髏ｨ蛻｣isplay迺∵Ι逡ｾ豸鍋ｰ�ne轣丞覧逡髣�┗譽*/
    display: none;
}

/*迺∵Ι逡ｾ遒羯迹ｰ讚1､7*/
.controls-visible{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;


}

/*豸灘ｬｮ貎ｰ髢ｭ��ｸ馴勢蜍ｫ蝴ｭ髏懶ｿ1､7*/
.controls-visible label {
    display: inline-block;/*骰ｧ讌�ｪ�刻蜀ｪ遉碁恨繖･謔捺ｶ凪ぎ逅帛ｱｾ讓蛾頗�ｽ*/
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;

}

/*迺∝鴬逍�瑞迹ｰ蝴ｮlabel髀�ｮｹ邏晞巡蜑ｧ縺壽ｶ捺ｴｪ竄ｬ螟芽�髏ｨ蜍ｬ迚ｱ蟇ｮ�ｽ*/
.slides input[type="radio"]:nth-of-type(1):checked ~
.controls-visible label:nth-of-type(1){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~
.controls-visible label:nth-of-type(2){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(3):checked ~
.controls-visible label:nth-of-type(3){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(4):checked ~
.controls-visible label:nth-of-type(4){
    background-color: #333;
} 

.slides input[type="radio"]:nth-of-type(5):checked ~
.controls-visible label:nth-of-type(5){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(6):checked ~
.controls-visible label:nth-of-type(6){
    background-color: #333;
}



/*隍ｰ謦ｻ竄ｬ螟芽�豬懷吏蘒�ｶ凪ぎ豸鍋玄adio骼ｸ螟先元骰壼ｺｯ邏晞忽蠎ｨ貎ｰ豸灘､顔ｴｶ.slide髏ｨ蜍ｬ迚ｱ蟇ｮ�1､7
轢ｹ轤ｵ蟷�ｩ頑�蟋ｩ髞帶ｰｬ蠏�甑﨟域ｸｶ迹穂ｽｹ蟇徨adio骼ｸ螟先元髞帛ｱｽ逧｢豸灘､蛾∪slide骰壽�荵冗ｻ芽ｯｲ蟋ｩ髏礼族逡ｾ髏ｨ蜍ｮ遯帷ｻゑｿｽ*/
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide{
  transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide{
  transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide{
  transform: translateX(-200%);/*骰壽�荵冗ｻ芽ｯｲ蟋ｩ豸凪ぎ骰奇ｿｽ*/
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide{
  transform: translateX(-300%);
} 

 .slides input[type="radio"]:nth-of-type(5):checked ~ .slide{
  transform: translateX(-400%);
}

.slides input[type="radio"]:nth-of-type(6):checked ~ .slide{
  transform: translateX(-500%);
}












/*扈齢α隨∵､､逕ｵ谿第ｵ懆匯蠅1､7*/
/* .divzishiying{
    width:auto;
    height:auto;
}


.sanbiaoti{
    width:50%;
    height:80%;
} */
.ti{
    position: absolute;
    top: 0px;

}

.ti{
    display:flex;
  justify-content: center;
  align-items: center;
}

.ti{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 85, 0);
}

.carda{
    /*髏ｩ遞ｿ訒ｮ遒羯豌ｫ邯1､7*/
    position: relative;
    width: 300px;/*300*/
    height: 540px;/*450*/
    margin: 20px;/*20*/
    top: 25px;
    /* background-color:#758a99; */
    /*譚ｩ谺手｢ｱ豸軟＜遶ｴ迺ｧ蟲ｰ逍�頗鬚∝ｨ�揶蝨ｭ邏ｭ骰ｦ蝸怜ｯｲ髏ｨ蜍ｫ蟋幃袖�1､7*/
    border-radius: 20px;
    overflow: hidden;
    /*轢ｵ迹ｰ逑ｧ髏ｨ蜍ｬ謨ｼ骰呻ｿｽ*/
    display: flex;
    /*骰丞�遉檎ｻｾ髱帶�骼ｺ謗大桷1､7*/
    flex-direction: column;
    /*轣槫速閻1､7*/
    align-items: center;
    
    /* color:rgb(14, 1, 1); */
    /*髣�搗螂1､7*/
    box-shadow: 0 0 30px rgba(0,0,0.5);
    /*豸灘ｶ稲�肓刻諠ｰ鄧ｦ骼ｸ繧�ｸ*/
    flex-shrink: 0;
    
}

.carda .photo img{
    width: 100%;
    height: 100%;
    /*豺�ｿ�ｯ秘腰辭ｸ貉∫￥蜩��蟋｣譁ｾ邱･髞帛ｲ�螺骰貞岻證ｱ譚茨ｿｽ*/
    object-fit: cover;
}

/*讎帶ｨｿ蠇ｻ貔ｶﾑ�ｵ1､7*/
.carda .photo{
    /*骰･蜑ｧ蠅夜勢蜍ｭ邊ｷ轢ｵ迹ｰ逡ｾ豬｣�1､7,骼ｸ蝗ｧ貉ｪdiv豸軟�谿1､7*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;/*蟋昴ｆ讀よｶ鍋�譟溯､ｰ�ｽ*/
    /*迺≫普豬倬甑讓ｺ貂ｾ螽托ｸｿ邁1､7*/
    overflow: hidden; 
    /* top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0.8); */
    /*骰斐┤謨ｾ譚ｩ蝗ｨ豬ｮ*/
    transition: 0.5s;
}

/*讎ｧ迥ｳ辷｣扈芽ｯｲ蜿�甑讓ｺ逧ｬ骰･�1､7*/
/*hover髢ｫ螟句ｫｨ讎ｧ迥ｳ辷｣骼ｸ蝗ｬ諡｡螽ｴ裵ｼ蟋ｩ骰ｦ繖･蜿ｾ豸灘ｩ�ｮ鷹刻蜀ｪ遉碁縛螻ｽ闍溽秩蜑ｧ逍�刻闊ｵ迚ｱ蟇ｮ�ｽ*/
.carda:hover .photo{
    top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;/*蟋昴ｆ讀よｶ灘塘貂ｾ隍ｰ�ｽ*/
    box-shadow: 0 0 20px rgba(0,0,0.8);/*謳ｴ譖｢蜆ｴ髏ｨ蜍ｯ讒ｾ隍ｰ�ｽ*/
}

/*譚ｩ谺灘匚骰皮干驥懈ｦ帶哀螢企穀莨ｴ竄ｬ蠢疲ｧ鷹勢蜍ｬ隨朱甑讓ｿ蜆鈴遵訷､邏晞甑訷吩ｺ帝順譚代た髏ｨ蜍ｭ貉�ｨ灘属郞滄忽蠍�透*/
.carda .photo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 50%,#222);
}

/*蟋晟�ard h1骰懷ｮ疎rd髞帶ｭｨover h1轢ｹ轤ｵ蟷�ｦｧ迥ｳ辷｣扈芽ｮｳ隨る腰隸ｲ謔鈴盾蝗ｧ逑ｧ髏ｨ蜍ｭﾐｩ骰費ｿ1､7*/
.carda h1{
    position: absolute;
    top: 370px;
    transition: 0.5s;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.carda h1{
    color: #fff;
}

.carda:hover h1{
    top:170px;
}

.carda:hover h1{
    color:#000;
}

.carda h2{
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.carda p{
    width:90%;
    text-indent: 32px;
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.carda a{
    font-size: 14px;
    color: rgba(39, 16, 16, 0.8);
    text-decoration: none;
    border: 1px solid rgba(172, 59, 59, 0.5);
    padding: 8px 32px;
    /*譚郁ｧ�萩髏ｨ蜍ｫ貂ｾ螽托ｹ螳ｳ髞帛ｲ�ｧｺ貔ｶﾑ�ｧｺ骰ｦ�ｽ*/
    border-radius: 8px;

}

.carda a:hover{
           color:rgb(216, 19, 19);
           background-color: rgba(255,255,255,0.2);
}

.carda h2{
    color:#000;
}

.carda p{
    color:#000;
}

/* .wei{
    display: block;
    float: left; */
    /* top:100px; */
    /* width: 100px;
    height: 100px; */
/* } */
.cardb{
    /*髏ｩ遞ｿ訒ｮ遒羯豌ｫ邯1､7*/
    position: relative;
    width: 300px;/*300*/
    height: 555px;/*450*/
    margin: 20px;/*20*/
    top: 90px;

    /* background-color:#758a99; */
    /*譚ｩ谺手｢ｱ豸軟＜遶ｴ迺ｧ蟲ｰ逍�頗鬚∝ｨ�揶蝨ｭ邏ｭ骰ｦ蝸怜ｯｲ髏ｨ蜍ｫ蟋幃袖�1､7*/
    border-radius: 20px;
    overflow: hidden;
    /*轢ｵ迹ｰ逑ｧ髏ｨ蜍ｬ謨ｼ骰呻ｿｽ*/
    display: flex;
    /*骰丞�遉檎ｻｾ髱帶�骼ｺ謗大桷1､7*/
    flex-direction: column;
    /*轣槫速閻1､7*/
    align-items: center;
    
    /* color:rgb(15, 1, 1); */
    /*髣�搗螂1､7*/
    box-shadow: 0 0 30px rgba(0,0,0.5);
    /*豸灘ｶ稲�肓刻諠ｰ鄧ｦ骼ｸ繧�ｸ*/
    flex-shrink: 0;
    
}

.cardb h1{
    color:#fff;
}

.cardb h2{
    color:#000;
}

.cardb p{
    color:#000;
}


.cardb .photo img{
    width: 100%;
    height: 100%;
    /*豺�ｿ�ｯ秘腰辭ｸ貉∫￥蜩��蟋｣譁ｾ邱･髞帛ｲ�螺骰貞岻證ｱ譚茨ｿｽ*/
    object-fit: cover;
}

/*讎帶ｨｿ蠇ｻ貔ｶﾑ�ｵ1､7*/
.cardb .photo{
    /*骰･蜑ｧ蠅夜勢蜍ｭ邊ｷ轢ｵ迹ｰ逡ｾ豬｣�1､7,骼ｸ蝗ｧ貉ｪdiv豸軟�谿1､7*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;/*蟋昴ｆ讀よｶ鍋�譟溯､ｰ�ｽ*/
    /*迺≫普豬倬甑讓ｺ貂ｾ螽托ｸｿ邁1､7*/
    overflow: hidden; 
    /* top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0.8); */
    /*骰斐┤謨ｾ譚ｩ蝗ｨ豬ｮ*/
    transition: 0.5s;
}

/*讎ｧ迥ｳ辷｣扈芽ｯｲ蜿�甑讓ｺ逧ｬ骰･�1､7*/
/*hover髢ｫ螟句ｫｨ讎ｧ迥ｳ辷｣骼ｸ蝗ｬ諡｡螽ｴ裵ｼ蟋ｩ骰ｦ繖･蜿ｾ豸灘ｩ�ｮ鷹刻蜀ｪ遉碁縛螻ｽ闍溽秩蜑ｧ逍�刻闊ｵ迚ｱ蟇ｮ�ｽ*/
.cardb:hover .photo{
    top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;/*蟋昴ｆ讀よｶ灘塘貂ｾ隍ｰ�ｽ*/
    box-shadow: 0 0 20px rgba(0,0,0.8);/*謳ｴ譖｢蜆ｴ髏ｨ蜍ｯ讒ｾ隍ｰ�ｽ*/
}

/*譚ｩ谺灘匚骰皮干驥懈ｦ帶哀螢企穀莨ｴ竄ｬ蠢疲ｧ鷹勢蜍ｬ隨朱甑讓ｿ蜆鈴遵訷､邏晞甑訷吩ｺ帝順譚代た髏ｨ蜍ｭ貉�ｨ灘属郞滄忽蠍�透*/
.cardb .photo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 50%,#222);
}

/*蟋晟�ard h1骰懷ｮ疎rd髞帶ｭｨover h1轢ｹ轤ｵ蟷�ｦｧ迥ｳ辷｣扈芽ｮｳ隨る腰隸ｲ謔鈴盾蝗ｧ逑ｧ髏ｨ蜍ｭﾐｩ骰費ｿ1､7*/
.cardb h1{
    position: absolute;
    top: 370px;
    transition: 0.5s;
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cardb:hover h1{
    top:170px;
}

.cardb:hover h1{
    color:#000;
}

.cardb h2{
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.cardb p{
    width:90%;
    text-indent: 32px;
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.cardb a{
    font-size: 14px;
    color: rgba(37, 16, 16, 0.8);
    text-decoration: none;
    border: 1px solid rgba(136, 31, 31, 0.5);
    padding: 8px 32px;
    /*譚郁ｧ�萩髏ｨ蜍ｫ貂ｾ螽托ｹ螳ｳ髞帛ｲ�ｧｺ貔ｶﾑ�ｧｺ骰ｦ�ｽ*/
    border-radius: 8px;

}

.cardb a:hover{
           color:rgb(219, 44, 44);
           background-color: rgba(255,255,255,0.2);
}

.xingshia{
    /*100%扈先･蠖帶･よｨｺ螳ｳ*/
  height: 100vh;
  /*蟇ｮ隗�ぎﾑ�ｫｷ轣樞ぎ 蟋俶搗髓1､7+骰ｨ蛯懈ｴｿ轣槫速閻*/
  display:flex;
  justify-content: center;
  align-items: center;
  /*螽捺┏蠖蛾袖螻ｾ讚*/
  /* background: linear-gradient(200deg,#517fa4,#243949); */
}

.xingshib{
    /*100%扈先･蠖帶･よｨｺ螳ｳ*/
  height: 100vh;
  /*蟇ｮ隗�ぎﾑ�ｫｷ轣樞ぎ 蟋俶搗髓1､7+骰ｨ蛯懈ｴｿ轣槫速閻*/
  display:flex;
  justify-content: center;
  align-items: center;
  /*螽捺┏蠖蛾袖螻ｾ讚*/
  /* background: linear-gradient(200deg,#517fa4,#243949); */
}
















/*髀∝速邁ｨ豬螫ｬ邊*/
.shell{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 9, 9);
    overflow: hidden;
    

}

.page{
    transform: translateX(-110%);
    position: absolute;
    width: 50%;
    height: 100%;
    transition: .5s;
    background-size: cover;
}

.button{
    display: block;
    width: 3%;
    color: rgb(178, 154, 154);
    font-size: 30px;
    border-bottom: rgb(165, 121, 121) solid 4px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin: 50px;
    left: calc(50% + (var(--i)*6%));
    z-index: 999;
    transition: .3s;
}

.page_content{
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    color: #fff;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade;
    animation-duration: .7s;
    animation-iteration-count: 1;
    opacity: 1;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transition: translateY(0px);
    }
}

input{
    display: none;
}
input:checked+.page{
    transform: translateX(0px);
    transition: .4s;
}

input:checked+.page .page_content{
    width:100%;
    display: block;
}

.page:nth-child(3){
    background-image: url('../images/imagesIMG_2409(20221125-230650).JPG');
    
    /* background-size: 780px 950px; */
}
.page:nth-child(3) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(6){
    background-image: url('../images/IMG_2411(20221125-230714).JPG');
}
.page:nth-child(6) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(9){
    background-image: url('../images/IMG_2412(20221125-230801).JPG');
}
.page:nth-child(9) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(12){
    background-image: url('../images/IMG_2413(20221125-230815).JPG');
}
.page:nth-child(12) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(15){
    background-image: url('../images/IMG_2415(20221125-231015).JPG');
}
.page:nth-child(15) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(18){
    background-image: url('../images/IMG_2417(20221125-231034).JPG');
    /* background-size: 100px 50px; */
}
.page:nth-child(18) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(21){
    background-image: url('../images/IMG_2418(20221125-231054).JPG');
}
.page:nth-child(21) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(24){
    background-image: url('../images/IMG_2420(20221125-231133).JPG');
}
.page:nth-child(24) .page_content{
    background-color: rga(185,130,130);
}

.page h1{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

.page p{
    font-size: 30px;
    padding: 10px;
    background-color: rgba(231, 210, 210, 0.3);
    border-radius: 10px;
    margin: 30px 0;/*迺∝鴬逍�｢纛讌蝓梧ｾｶ譬ｬ遶滄勢蜍ｮ遯帷ｻゑｿ1､7*/
}

.page span{
    font-size: 20px;
    letter-spacing: 4px;
  
    color: rgb(238, 236, 236);
}

/*迺∝鴬逍�ｦｧ迥ｳ辷｣扈芽ｯｲ蝓梧ｶ灘ｬｮ貎ｰ髏ｨ蜍ｬ譎･髀具ｿ1､7*/
label:hover{
    cursor: pointer;
    border-bottom: solid 4px rgb(35,35,35);
}









.contact-area .text-part p{

}

.a{
    width: 900px;
    height: 300px;
    position: relative;
    top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px #000;
}
.b{
    transition: .7s;
    overflow: hidden;
}
.b:hover{
    flex-shrink: 0;
    flex-grow: 0;
}
.contact-area image{
    width: 400px;
}
.xingshier{
    display: flex;
            justify-content: center;
            align-items: flex-end;
            /* margin-bottom: 0px; */
}









.wenzia{
    position: absolute;
    left: 10px;
    top: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzia{
    font-weight: 300;
}

.wenzib{
    position: absolute;
    left: 800px;
    top: 130px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzic{
    position: absolute;
    left: 10px;
    top: 585px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzid{
    position: absolute;
    left: 800px;
    top: 590px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzie{
    position: absolute;
    left: 10px;
    top: 1080px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzif{
    position: absolute;
    left: 800px;
    top: 1080px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzig{
    position: absolute;
    left: 800px;
    top: 1570px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzih{
    position: absolute;
    left: 800px;
    top: 2060px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzii{
    position: absolute;
    left: 800px;
    top: 2550px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzij{
    position: absolute;
    left: 10px;
    top: 1575px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzik{
    position: absolute;
    left: 10px;
    top: 2070px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzil{
    position: absolute;
    left: 10px;
    top: 2570px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzim{
    position: absolute;
    left: 800px;
    top: 3040px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzin{
    position: absolute;
    left: 800px;
    top: 3530px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzio{
    position: absolute;
    left: 800px;
    top: 4020px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzip{
    position: absolute;
    left: 800px;
    top: 4510px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenziq{
    position: absolute;
    left: 10px;
    top: 3060px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzir{
    position: absolute;
    left: 10px;
    top: 3550px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzis{
    position: absolute;
    left: 10px;
    top: 4040px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzit{
    position: absolute;
    left: 10px;
    top: 4530px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}




.h2{
    color:(123, 150, 241);
    font-size:90px;
    margin-left: 400px;
    font: 500 80px '豬ｼ讓ｿ裵暮渚蝗ｬ﨣ｽ讎幢ｿｽ';
}

.wenzia p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: justify;
}

.lefta{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}


.leftb{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\449cfb8073fc28050460a455b2a6efa481e2248e.jpg);
}


.leftc{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:/Users/Administrator/Desktop/web-projects/site1/images/1.jpg);
}


.leftd{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\9c9078fb9ecd683da91e2233ba35ad0d5a5cf9fa.jpg);
}


.lefte{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\9c9078fb9ecd683da91e2233ba35ad0d5a5cf9fa.jpg);
}


.leftf{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url();
}

.leftg{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefth{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefti{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftj{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftk{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftl{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftm{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftn{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefto{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftp{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftq{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftr{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefts{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftt{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(images/10.JPG);
    /* background-image: url('../images/85a828f3b183ebcebd83f10379d10030458f31c7.jpg'); */
}



/* .wenziz{
    position: absolute;
    left: 10px;
    top: 2000;
    width: 70%;
    padding: 50px;
} */
/* 
.wenzia image{
    width: 20px;
    height:30px;
} */
.wenzia .wenzib .wenzic .wenzid .wenzie .wenzif .wenzig .wenzih .wenzii .wenzij .wenzik .wenzil .wenzim .wenzin .wenzio .wenzip .wenziq .wenzir .wenzis .wenzit h3{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #edd37f;
    font-weight: 700px;
    
}

/* .wenzia .wenzib .wenzic .wenzid .wenzie .wenzif .wenzig .wenzih .wenzii .wenzij .wenzik .wenzil .wenzim .wenzin .wenzio .wenzip .wenziq .wenzir .wenzis .wenzit
{
    background-color: rgba(0,0,0,0.2);
} */

.wan{
    position: absolute;
    left: 1200px;
    top: 4840px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 200px;
    height: 60px;
    padding: 50px; 
}

.wan image{
    height: 2000px;
    height: 2000px;
}

h2,h3{
    background-color: rgba(0, 0, 0, 0.4);
}

.wenzia p{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

