body{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
   
}

/*鎬讳綋椤甸潰*/
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;/*宸﹀彸闂磋窛,闈犲乏杩樻槸闈犲彄1�7,flex-start锛堥粯璁ゅ€硷級锛氬乏��归綄1�7
    flex-end锛氬彸��归綄1�7
    center锛� 灞呬腄1�7
    space-between锛氫袱绔榻愶紝椤圭洰涔嬮棿鐨勯棿闅旈兘鐩哥瓑銆�
    space-around锛氭瘡涓��鐩袱渚х殑闂撮殧鐩哥瓑銆傛墍浠ワ紝椤圭洰涔嬮棿鐨勯棿闅既�瘮椤圭洰涓庤竟妗嗙殑闂撮殧澶т竴鍊嶃€ￄ1�7*/
    align-items: center;/*鍦ㄥ潡涓殑浣嶇疆锛宖lex-start锛氫氦鍙夎酱鐨勮捣鐐瑰榻愩€�
    flex-end锛氫氦鍙夎酱鐨勭粓鐐瑰榻愩€�
    center锛氫氦鍙夎酱鐨勪腑鐐瑰榻愩€�
    baseline: 椤圭洰鐨勭涓€琛屾枃��楃殑鍩虹嚎瀵归綈銆ￄ1�7
    stretch锛堥粯璁ゅ€硷級锛氬鏋滈��鐩湭璁剧疆楂樺害鎴栬涓篴uto锛屽皢鍗犳弧鏁翠釜��瑰櫒鐨勯珮搴︺€�*/
    flex-direction: row;/*妯潃鎺掕繕鏄珫鐫€鎺ￄ1�7*/
    flex-wrap: wrap;
    background-color: #ec3b3b;/*濉弧鑳屾櫙鐨勬暣涓鑹�*/
    border-radius: 30px;
    width: 100%;/*瀵硅儗鏅潡鐨勮缃ￄ1�7*/
    height: 70px;
    z-index: 1;
}

/* .slide-apart{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
} */

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;/*璁剧疆鍙冲杈硅窄1�7*/
}

.nav li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}




.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;/*瀹氫箟浠呮湁澶у啓瀛楁瘄1�7
    none	榛樿銆傚畾涔夊甫鏈夊皬鍐欏瓧姣嶅拰澶у啓瀛楁瘝鐨勬爣鍑嗙殑鏂囨湰銆�
capitalize	鏂囨湰涓殑姣忎釜鍗曡瘝浠ュぇ鍐欏瓧姣嶅紑澶淬€ￄ1�7
uppercase	瀹氫箟浠呮湁澶у啓瀛楁瘝銆ￄ1�7
lowercase	瀹氫箟鏃犲ぇ鍐欏瓧姣嶏紝浠呮湁灏忓啓瀛楁瘝銆ￄ1�7
inherit	瑙勫畾搴旇浠庣埗鍏冪礌缁ф壙 text-transform 灞炴€х殑鍊笺€�*/
    letter-spacing: 1px;/*鏢�瑰彉瀛楅棿璺濈*/
    font-weight: bold;/*璁剧疆��椾綋绮楃粏*/
    font-size: 35px;
}

/*鐩存帴��规墍鏈夌殑閾炬帴杩涜澶勭悄1�7*/
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/*a锛歨over琛ㄧず褰撻紶鏍囬€夊畾鍦╝鏍囩涓婃椂a鏍囩鐨勬牱寮忓彉鍖栥€ￄ1�7*/
a:hover{
    color:#000;
}

.banner-area{
    position: relative;
    background-color: rgb(249, 242, 242);
     /* background: linear-gradient(200deg,#ffffff,#f7dada); */
    /* background-image: url('../images/F22CE978AF642063AA821065FF9612F3.png');
    background-size: 1px 1px; */
    /*缁欒儗鏅浘鐗囪缃�€忔槑搴ￄ1�7*/
    /* opacity: 0.5; */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    }




    .jiyu{
        position: absolute;
        left: 900px;
        top: 320px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-direction: row; */
        width: 33%;
        padding: 50px;
        font-style: italic;
       
    }
    /* .jiyu{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    } */
    .jiyu h1{
        font-size: 35px;
    }

/*鏍煎紡鍜岃儗鏅繢�椤诲垎寮€鍐ￄ1�7*/
.about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1200px;
}
.post-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1500px;
}
.service-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 1200px;
}
.contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 5000px;
    /* background-image: url('../images/QQ鍥剧墄1�720221124212116.jpg');
    background-size: 5px 5px; */
}

.text-part{
    width: 65%;
    height: 80%;
    /* background-color: #ada3d6; */
    /* opacity: 0.5; *//*鍖呮嫭鏂囧瓧閫忔槑搴︿竴璧�*/
    background-color: rgba(255, 252, 252, 0.485);/*鍙崟鍗曞彧鏄儗鏅€忔槑搴�*/
    font-weight: 600;
    
}

.text-part li{
    font-size: 20px;
}

.text-part h1{
    font-size: 25px;
    letter-spacing: 5px;
}

.text-part a:link{
color:rgb(194, 120, 120)
    
}

.text-part a:hover{
    color: rgb(194, 183, 183);
}

h1{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
}

p{
    font-size: 24px;
    line-height: 50px;
}



.about-area{
     background-image: url('../images/20F2BF9A0FA175604ABDCA0CD4D8912D.png');
    background-size: 1600px 1200px;
     /* opacity: 0.5; */
     /* background: #fefefe; */
}

.service-area{
    background: #fefefe;
}

.post-area{
    background-image: url('../images/IMG_2394.JPG');
    background-size: 1200px 900px;
     /* opacity: 0.5; */
    
    color:#fff;/*瀵瑰瓧棰滆壊鐨勬敼鍙ￄ1�7*/
}
.contact-area{
    background: #ffffff;
    background-image: url('../images/7.jpg');
    /* background-size: 600px 1200px; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    /* background-image: url('../images/IMG_2394.JPG');
    background-size: 1200px 900px; */
     /* opacity: 0.5; */
     background-color: rgb(252, 236, 179);
     margin-bottom: 0px;
    
    color:rgb(255, 255, 255);/*瀵瑰瓧棰滆壊鐨勬敼鍙ￄ1�7*/
}



/* .contact-area image{
    height: 20px;
    width: 20px;
    left: 30px;
} */

html{
    scroll-behavior: smooth;
}









/*绗竴椤电殑婊戝姄1�7*/
.biao{
    position: absolute;
    right: 20px;
    top: 70px;
    width:500px;
    height:300px;
}



ul.slides {
    position: relative;
    width: 900px;
    height: 500px;
    list-style: none;/*鍙栨秷鍒楄��灞炴€ￄ1�7*/
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow:hidden;
    /* opacity: 100; */
   
}

li.slide{
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position:absolute;
  top: 0;
  left: 0;
  /*瀵瑰瓄1�7*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color:#eee;
  /*鍔ㄧ敾杩囨浮鐨勮���*/
  transition: .5s transform ease-in-out;
  

}

.weizhi{
    display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}

.weizhi{
  position: absolute;
  top: 30px;
  /* height:;
  width:; */
  left: 10px;
  
}

.logo{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.slide:nth-of-type(1){
    background-color: aqua;
    background-image: url('../images/85a828f3b183ebcebd83f10379d10030458f31c7.jpg');
    background-size: 900px 500px;
    background-position: center;

}

.slide:nth-of-type(2){
    background-color: bisque;
    background-image: url('../images/aaf21571d5f7d53620553299b4f92f7426acc7f769659-LFjHD4_fw658.jpg');
    left: 100%;
    background-size: 900px 500px;
    background-position: center;

    
}

.slide:nth-of-type(3){
    background-color: coral;
    background-image: url('../images/c64ccde7a897b0d8098fa6ea553145d8ce123220.jpg');
    left:200%;
    background-size: 900px 500px;
    background-position: center;
}

.slide:nth-of-type(4){
    background-color: rgb(21, 0, 255);
    background-image: url('../images/t014767414f70dac2b7.jpg');
    left:300%;
    background-size: 900px 500px;
    background-position: center;
}

.slide:nth-of-type(5){
    background-color: rgb(29, 45, 45);
    background-image: url('../images/15730129376961561.jpg');
    left:400%;
    background-size: 900px 500px;
    background-position: center;
}

.slide:nth-of-type(6){
    background-color: rgb(255, 0, 157);
    background-image: url('../images/aa90f14e350f443e9f44ab0d42eae2d6.jpeg');
    left:500%;
    background-size: 900px 500px;
    background-position: center;
}



/*璁剧疆radio鎸夐挳锛屼娇鑳��鐪嬭1�7(鏈潵鍦ㄥ乏涓婅锛ￄ1�7*/
input[type="radio"]
{
    position: relative;
    z-index: 100;
    /*灏唕adio鎸夐挳鐨刣isplay璁惧畾涓簄one灏嗗畠闅愯棌*/
    display: none;
}

/*璁惧畾��瑰櫄1�7*/
.controls-visible{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;


}

/*涓嬮潰閭ｆ帓鐨勫嚭鐜ￄ1�7*/
.controls-visible label {
    display: inline-block;/*鍧楃骇鍏冪礌鍦ㄥ悓涓€琛屾樉鐜�*/
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;

}

/*璁剧疆鐐瑰嚮label鏃讹紝鏄剧ず涓洪€変腑鐨勬牱寮�*/
.slides input[type="radio"]:nth-of-type(1):checked ~
.controls-visible label:nth-of-type(1){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~
.controls-visible label:nth-of-type(2){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(3):checked ~
.controls-visible label:nth-of-type(3){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(4):checked ~
.controls-visible label:nth-of-type(4){
    background-color: #333;
} 

.slides input[type="radio"]:nth-of-type(5):checked ~
.controls-visible label:nth-of-type(5){
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(6):checked ~
.controls-visible label:nth-of-type(6){
    background-color: #333;
}



/*褰撻€変腑浜嗙涓€涓猺adio鎸夐挳鍚庯紝鍚庨潰涓夊紶.slide鐨勬牱寮ￄ1�7
瀹炵幇婊戝姩锛氬嵆鍙渶瑕佹寜radio鎸夐挳锛屽皢涓変釜slide鍚戝乏绉诲姩鐗瑰畾鐨勮窛绂�*/
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide{
  transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide{
  transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide{
  transform: translateX(-200%);/*鍚戝乏绉诲姩涓€鍊�*/
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide{
  transform: translateX(-300%);
} 

 .slides input[type="radio"]:nth-of-type(5):checked ~ .slide{
  transform: translateX(-400%);
}

.slides input[type="radio"]:nth-of-type(6):checked ~ .slide{
  transform: translateX(-500%);
}












/*绗笁椤电殑浜虹墄1�7*/
/* .divzishiying{
    width:auto;
    height:auto;
}


.sanbiaoti{
    width:50%;
    height:80%;
} */
.ti{
    position: absolute;
    top: 0px;

}

.ti{
    display:flex;
  justify-content: center;
  align-items: center;
}

.ti{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 85, 0);
}

.carda{
    /*鐩稿��氫綄1�7*/
    position: relative;
    width: 300px;/*300*/
    height: 540px;/*450*/
    margin: 20px;/*20*/
    top: 25px;
    /* background-color:#758a99; */
    /*杩欎袱涓竴璧峰疄鐜颁娇杈圭紭鍦嗗寲鐨勫姛鑳ￄ1�7*/
    border-radius: 20px;
    overflow: hidden;
    /*瀵瑰瓧鐨勬敼鍙�*/
    display: flex;
    /*鍏冪礌绾靛悜鎺掑垄1�7*/
    flex-direction: column;
    /*灞呬腄1�7*/
    align-items: center;
    
    /* color:rgb(14, 1, 1); */
    /*闃村奄1�7*/
    box-shadow: 0 0 30px rgba(0,0,0.5);
    /*涓嶈�鍏惰鎸ゅ帇*/
    flex-shrink: 0;
    
}

.carda .photo img{
    width: 100%;
    height: 100%;
    /*淇濇寔鍘熸湁灏哄姣斾緥锛岃鍒囬暱杈�*/
    object-fit: cover;
}

/*榛樿澶у浄1�7*/
.carda .photo{
    /*鍥剧墖鐨勭粷瀵瑰畾浣ￄ1�7,鎸囧湪div涓殄1�7*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;/*姝ゆ椂涓烘柟褰�*/
    /*璁╁浘鍙樺渾娑︿簄1�7*/
    overflow: hidden; 
    /* top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0.8); */
    /*鍔ㄧ敾杩囨浮*/
    transition: 0.5s;
}

/*榧犳爣绉诲叆鍙樺皬鍥ￄ1�7*/
/*hover閫夋嫨榧犳爣鎸囬拡娴姩鍦ㄥ叾涓婄殑鍏冪礌锛屽苟璁剧疆鍏舵牱寮�*/
.carda:hover .photo{
    top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;/*姝ゆ椂涓哄渾褰�*/
    box-shadow: 0 0 20px rgba(0,0,0.8);/*搴曢儴鐨勯槾褰�*/
}

/*杩欓噷鍔犱釜榛戣壊鍒伴€忔槑鐨勬笎鍙樿儗鏅紝鍙互鏇村ソ鐨勭湅娓呮鍚嶅瓧*/
.carda .photo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 50%,#222);
}

/*姝ard h1鍜宑ard锛歨over h1瀹炵幇榧犳爣绉讳笂鍘诲悗鏂囧瓧鐨勭Щ鍔ￄ1�7*/
.carda h1{
    position: absolute;
    top: 370px;
    transition: 0.5s;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.carda h1{
    color: #fff;
}

.carda:hover h1{
    top:170px;
}

.carda:hover h1{
    color:#000;
}

.carda h2{
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.carda p{
    width:90%;
    text-indent: 32px;
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.carda a{
    font-size: 14px;
    color: rgba(39, 16, 16, 0.8);
    text-decoration: none;
    border: 1px solid rgba(172, 59, 59, 0.5);
    padding: 8px 32px;
    /*杈规鐨勫渾娑﹀害锛岃秺澶ц秺鍦�*/
    border-radius: 8px;

}

.carda a:hover{
           color:rgb(216, 19, 19);
           background-color: rgba(255,255,255,0.2);
}

.carda h2{
    color:#000;
}

.carda p{
    color:#000;
}

/* .wei{
    display: block;
    float: left; */
    /* top:100px; */
    /* width: 100px;
    height: 100px; */
/* } */
.cardb{
    /*鐩稿��氫綄1�7*/
    position: relative;
    width: 300px;/*300*/
    height: 540px;/*450*/
    margin: 20px;/*20*/
    top: 90px;

    /* background-color:#758a99; */
    /*杩欎袱涓竴璧峰疄鐜颁娇杈圭紭鍦嗗寲鐨勫姛鑳ￄ1�7*/
    border-radius: 20px;
    overflow: hidden;
    /*瀵瑰瓧鐨勬敼鍙�*/
    display: flex;
    /*鍏冪礌绾靛悜鎺掑垄1�7*/
    flex-direction: column;
    /*灞呬腄1�7*/
    align-items: center;
    
    /* color:rgb(15, 1, 1); */
    /*闃村奄1�7*/
    box-shadow: 0 0 30px rgba(0,0,0.5);
    /*涓嶈�鍏惰鎸ゅ帇*/
    flex-shrink: 0;
    
}

.cardb h1{
    color:#fff;
}

.cardb h2{
    color:#000;
}

.cardb p{
    color:#000;
}


.cardb .photo img{
    width: 100%;
    height: 100%;
    /*淇濇寔鍘熸湁灏哄姣斾緥锛岃鍒囬暱杈�*/
    object-fit: cover;
}

/*榛樿澶у浄1�7*/
.cardb .photo{
    /*鍥剧墖鐨勭粷瀵瑰畾浣ￄ1�7,鎸囧湪div涓殄1�7*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;/*姝ゆ椂涓烘柟褰�*/
    /*璁╁浘鍙樺渾娑︿簄1�7*/
    overflow: hidden; 
    /* top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0.8); */
    /*鍔ㄧ敾杩囨浮*/
    transition: 0.5s;
}

/*榧犳爣绉诲叆鍙樺皬鍥ￄ1�7*/
/*hover閫夋嫨榧犳爣鎸囬拡娴姩鍦ㄥ叾涓婄殑鍏冪礌锛屽苟璁剧疆鍏舵牱寮�*/
.cardb:hover .photo{
    top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;/*姝ゆ椂涓哄渾褰�*/
    box-shadow: 0 0 20px rgba(0,0,0.8);/*搴曢儴鐨勯槾褰�*/
}

/*杩欓噷鍔犱釜榛戣壊鍒伴€忔槑鐨勬笎鍙樿儗鏅紝鍙互鏇村ソ鐨勭湅娓呮鍚嶅瓧*/
.cardb .photo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 50%,#222);
}

/*姝ard h1鍜宑ard锛歨over h1瀹炵幇榧犳爣绉讳笂鍘诲悗鏂囧瓧鐨勭Щ鍔ￄ1�7*/
.cardb h1{
    position: absolute;
    top: 370px;
    transition: 0.5s;
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cardb:hover h1{
    top:170px;
}

.cardb:hover h1{
    color:#000;
}

.cardb h2{
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.cardb p{
    width:90%;
    text-indent: 32px;
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.cardb a{
    font-size: 14px;
    color: rgba(37, 16, 16, 0.8);
    text-decoration: none;
    border: 1px solid rgba(136, 31, 31, 0.5);
    padding: 8px 32px;
    /*杈规鐨勫渾娑﹀害锛岃秺澶ц秺鍦�*/
    border-radius: 8px;

}

.cardb a:hover{
           color:rgb(219, 44, 44);
           background-color: rgba(255,255,255,0.2);
}

.xingshia{
    /*100%绐楀彛楂樺害*/
  height: 100vh;
  /*寮规€у竷灞€ 姘村钄1�7+鍨傜洿灞呬腑*/
  display:flex;
  justify-content: center;
  align-items: center;
  /*娓愬彉鑳屾櫙*/
  /* background: linear-gradient(200deg,#517fa4,#243949); */
}

.xingshib{
    /*100%绐楀彛楂樺害*/
  height: 100vh;
  /*寮规€у竷灞€ 姘村钄1�7+鍨傜洿灞呬腑*/
  display:flex;
  justify-content: center;
  align-items: center;
  /*娓愬彉鑳屾櫙*/
  /* background: linear-gradient(200deg,#517fa4,#243949); */
}
















/*鏁呬簨浠嬬粛*/
.shell{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 9, 9);
    overflow: hidden;
    

}

.page{
    transform: translateX(-110%);
    position: absolute;
    width: 50%;
    height: 100%;
    transition: .5s;
    background-size: cover;
}

.button{
    display: block;
    width: 3%;
    color: rgb(178, 154, 154);
    font-size: 30px;
    border-bottom: rgb(165, 121, 121) solid 4px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin: 50px;
    left: calc(50% + (var(--i)*6%));
    z-index: 999;
    transition: .3s;
}

.page_content{
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    color: #fff;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade;
    animation-duration: .7s;
    animation-iteration-count: 1;
    opacity: 1;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transition: translateY(0px);
    }
}

input{
    display: none;
}
input:checked+.page{
    transform: translateX(0px);
    transition: .4s;
}

input:checked+.page .page_content{
    width:100%;
    display: block;
}

.page:nth-child(3){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/imagesIMG_2409(20221125-230650).JPG');
    
    /* background-size: 780px 950px; */
}
.page:nth-child(3) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(6){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2411(20221125-230714).JPG');
}
.page:nth-child(6) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(9){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2412(20221125-230801).JPG');
}
.page:nth-child(9) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(12){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2413(20221125-230815).JPG');
}
.page:nth-child(12) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(15){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2415(20221125-231015).JPG');
}
.page:nth-child(15) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(18){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2417(20221125-231034).JPG');
    /* background-size: 100px 50px; */
}
.page:nth-child(18) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(21){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2418(20221125-231054).JPG');
}
.page:nth-child(21) .page_content{
    background-color: rga(185,130,130);
}

.page:nth-child(24){
    background-image: url('C:/Users/Administrator/Desktop/web-projects/site1/images/IMG_2420(20221125-231133).JPG');
}
.page:nth-child(24) .page_content{
    background-color: rga(185,130,130);
}

.page h1{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

.page p{
    font-size: 30px;
    padding: 10px;
    background-color: rgba(231, 210, 210, 0.3);
    border-radius: 10px;
    margin: 30px 0;/*璁剧疆��楀埌澶栬竟鐨勮窛绂ￄ1�7*/
}

.page span{
    font-size: 20px;
    letter-spacing: 4px;
  
    color: rgb(238, 236, 236);
}

/*璁剧疆榧犳爣绉诲埌涓嬮潰鐨勬晥鏋ￄ1�7*/
label:hover{
    cursor: pointer;
    border-bottom: solid 4px rgb(35,35,35);
}









.contact-area .text-part p{

}

.a{
    width: 900px;
    height: 300px;
    position: relative;
    top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px #000;
}
.b{
    transition: .7s;
    overflow: hidden;
}
.b:hover{
    flex-shrink: 0;
    flex-grow: 0;
}
.contact-area image{
    width: 400px;
}
.xingshier{
    display: flex;
            justify-content: center;
            align-items: flex-end;
            /* margin-bottom: 0px; */
}









.wenzia{
    position: absolute;
    left: 10px;
    top: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzia{
    font-weight: 300;
}

.wenzib{
    position: absolute;
    left: 800px;
    top: 130px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzic{
    position: absolute;
    left: 10px;
    top: 585px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzid{
    position: absolute;
    left: 800px;
    top: 590px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzie{
    position: absolute;
    left: 10px;
    top: 1080px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzif{
    position: absolute;
    left: 800px;
    top: 1080px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzig{
    position: absolute;
    left: 800px;
    top: 1570px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzih{
    position: absolute;
    left: 800px;
    top: 2060px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzii{
    position: absolute;
    left: 800px;
    top: 2550px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzij{
    position: absolute;
    left: 10px;
    top: 1575px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzik{
    position: absolute;
    left: 10px;
    top: 2070px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzil{
    position: absolute;
    left: 10px;
    top: 2570px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzim{
    position: absolute;
    left: 800px;
    top: 3040px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzin{
    position: absolute;
    left: 800px;
    top: 3530px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzio{
    position: absolute;
    left: 800px;
    top: 4020px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzip{
    position: absolute;
    left: 800px;
    top: 4510px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenziq{
    position: absolute;
    left: 10px;
    top: 3060px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzir{
    position: absolute;
    left: 10px;
    top: 3550px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzis{
    position: absolute;
    left: 10px;
    top: 4040px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}

.wenzit{
    position: absolute;
    left: 10px;
    top: 4530px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 40%;
    padding: 50px;
   
}




.h2{
    color:(123, 150, 241);
    font-size:90px;
    margin-left: 400px;
    font: 500 80px '浼樿鏍囬榛�';
}

.wenzia p{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: justify;
}

.lefta{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}


.leftb{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\449cfb8073fc28050460a455b2a6efa481e2248e.jpg);
}


.leftc{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:/Users/Administrator/Desktop/web-projects/site1/images/1.jpg);
}


.leftd{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\9c9078fb9ecd683da91e2233ba35ad0d5a5cf9fa.jpg);
}


.lefte{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\9c9078fb9ecd683da91e2233ba35ad0d5a5cf9fa.jpg);
}


.leftf{
    height: 210px;
    width: 350px;
    float: left;
    shape-margin: 20px;
    shape-outside: url();
}

.leftg{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefth{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefti{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftj{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftk{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftl{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftm{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftn{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefto{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftp{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftq{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftr{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.lefts{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(C:\Users\Administrator\Desktop\webb\images\120ee72e3039562bb5f82454d037553746851fd7.jpg);
}

.leftt{
    height: 210px;
    width: 330px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(images/10.JPG);
    /* background-image: url('../images/85a828f3b183ebcebd83f10379d10030458f31c7.jpg'); */
}



/* .wenziz{
    position: absolute;
    left: 10px;
    top: 2000;
    width: 70%;
    padding: 50px;
} */
/* 
.wenzia image{
    width: 20px;
    height:30px;
} */
.wenzia .wenzib .wenzic .wenzid .wenzie .wenzif .wenzig .wenzih .wenzii .wenzij .wenzik .wenzil .wenzim .wenzin .wenzio .wenzip .wenziq .wenzir .wenzis .wenzit h3{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #edd37f;
    font-weight: 700px;
    
}

/* .wenzia .wenzib .wenzic .wenzid .wenzie .wenzif .wenzig .wenzih .wenzii .wenzij .wenzik .wenzil .wenzim .wenzin .wenzio .wenzip .wenziq .wenzir .wenzis .wenzit
{
    background-color: rgba(0,0,0,0.2);
} */

.wan{
    position: absolute;
    left: 1200px;
    top: 4840px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
    width: 200px;
    height: 60px;
    padding: 50px; 
}

.wan image{
    height: 2000px;
    height: 2000px;
}

h2,h3{
    background-color: rgba(0, 0, 0, 0.4);
}

.wenzia p{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

